<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34116200391-9ui4i6pfcshrpasoai2bl8ul5hcick4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34116200391-9ui4i6pfcshrpasoai2bl8ul5hcick4k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>34116200391-aeedo8o9jqcq86iq6rb9pl9gjskeka9d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLvqQKRcsEpOJJ90SBJgOSFgX9-efNfRg</string>
	<key>GCM_SENDER_ID</key>
	<string>34116200391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.goldenowl.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-bf9dd</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-bf9dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34116200391:ios:af94ce9000c282696b9be2</string>
</dict>
</plist>